/* Header */
header {
  flex-wrap: wrap;
}

#div-empty {
  display: none;
}

#header-desktop-poll-btns {
  display: none;
}

#btn-mobile-open, #btn-mobile-close {
  display: block;
  margin: 0 0 0 auto;
  border: 0;
  padding: 0;
}

#btn-mobile-open:hover > svg > path, #btn-mobile-close:hover > svg > path {
  fill: #000000;
}

#ul-desktop-poll-btns {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

#ul-desktop-poll-btns > li:first-child {
  margin-right: 1rem;
}

#ul-mobile-poll-description, #ul-mobile-admin-description {
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
}

#btn-admin-desktop-edit, #btn-admin-desktop-delete {
  border: 0;
  background-color: #FFFFFF;
}

#ul-mobile-admin-description > li, #ul-mobile-poll-description > li, #ul-poll-description > li {
  display: flex;
  margin-bottom: 1rem;
}

#ul-mobile-poll-description > li:last-of-type, #ul-mobile-admin-description > li:last-of-type, #ul-poll-description > li:last-of-type {
  margin-bottom: 0;
}

#ul-mobile-poll-description > li > svg, #ul-mobile-admin-description > li > svg, #ul-poll-description > li > svg {
  margin-right: .5rem;
}

#list-item-mobile-description > svg {
  order: 1;
}

#list-item-mobile-description > span {
  width: 100%;
  height: 16px;
  overflow: hidden;
  order: 2;
}

#list-item-mobile-description > button {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  padding: 0;
  border: 0;
  order: 3;
}

button > #svg-description-expand {
  transform: rotate(90deg);
}

button.expand > #svg-description-expand {
  transform: rotate(0deg);
}

#list-item-mobile-description > button.expand + span {
  overflow: visible;
  height: auto;
}

/* Main */
#div-description {
  display: none;
  margin-bottom: 1rem;
}

#form-response > div {
  width: 100%;
}

#div-poll-description {
  padding: 1rem;
  border-bottom: 1px solid black;
}

#ul-availabilities {
  margin: 1rem 0;
}

#svg-most-selected {
  position: absolute;
  top: -10px;
  left: -16px;
  fill: #FEA3AA;
}

#ul-availabilities > li > h2 {
  font-size: 1.25rem;
  margin-bottom: .75rem;
}

#ul-availabilities > li > h3 {
  font-size: 1.15rem;
  margin-bottom: .75rem;
}

#ul-availabilities > li > button {
  margin: auto 0 0 0;
}

#ul-participants {
  width: 100%;
  margin: 1.5rem auto;
}

#ul-participants > li {
  background-color: #89CFF0;
  padding: 0.5rem 1rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  text-transform: uppercase;
}

#ul-participants > li:last-child {
  margin-bottom: 0;
}

.btn-meeting-select.selected {
  background-color: #89CFF0;
  border-color: #89CFF0;
}

#form-response > label {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
}

#form-response #name {
  width: 100%;
  margin-top: 0;
  border: 1px solid #e7e5e5;
  background-color: #e7e5e5;
}

#form-response #name + span {
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  position: absolute;
  left: 0;
  background-color: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#form-response #name:focus + span {
  width: 100%;
  background: #89CFF0;
}

#form-response > #div-form-submit > label, #btn-submit {
  margin-bottom: 1rem;
}

#btn-submit {
  width: 100%;
}

/* #div-form-submit */
#div-form-submit, #div-admin-mobile-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  margin-bottom: 0;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.08);
}

#form-response > #div-form-submit > label {
  width: 100%;
}

#div-admin-mobile-btns {
  flex-direction: row;
  justify-content: space-between;
}

#btn-admin-mobile-edit, #btn-admin-mobile-delete {
  width: 45%;
  padding: .5rem;
  border: 2px solid #000000;
  background-color: #FFFFFF;
}

@media (min-width: 576px) {
  #ul-availabilities {
    grid-template-columns: repeat(2, 1fr);
  }

  #form-response > label {
    width: 50%;
  }

  #div-form-submit {
    flex-direction: row;
  }

  #form-response > #div-form-submit > label {
    width: calc(50% - .5rem);
    margin-right: .75rem;
  }

  #btn-submit {
    width: fit-content;
    padding: .5rem;
  }
}

@media (min-width: 768px) {
  header > h2 {
    margin: 0 auto;
  }

  #div-empty {
    display: block;
  }

  #header-desktop-poll-btns {
    display: block;
  }

  #header-poll-btns {
    display: none;
  }

  #btn-admin-mobile-edit, #btn-admin-mobile-delete {
    padding: .5rem 1rem;
  }

  #btn-admin-mobile-delete {
    margin-left: 1rem;
  }

  #svg-description > path, #svg-location > path {
    fill: #89CFF0;
  }

  #ul-availabilities {
    grid-template-columns: repeat(3, 1fr);
  }

  #form-response > #div-form-submit > label, #btn-submit {
    margin-bottom: 0;
  }

  #form-response > #div-form-submit > label {
    width: calc(33% - .5rem);
    margin-top: 0;
  }

  #div-description {
    display: block;
  }

  #header-mobile-description, #ul-mobile-poll-description, #ul-mobile-admin-description, #div-admin-mobile-btns {
    display: none;
  }

  #btn-admin-mobile-edit, #btn-admin-mobile-delete {
    width: 100%;
    border: 2px solid #000000;
  }
}

@media (min-width: 992px) {
  #ul-availabilities {
    grid-template-columns: repeat(4, 1fr);
  }

  #form-response > #div-form-submit > label {
    width: calc(25% - 11.7px);
  }
}

@media (min-width: 1200px) {
  #ul-availabilities {
    grid-template-columns: repeat(5, 1fr);
  }

  #form-response > #div-form-submit > label {
    width: calc(20% - 12px)
  }
}