#table-header {
  display: flex;

}

#week-current {
  font-size: 1.25rem;
  font-weight: 700;
  display: none;
}

#table-btns {
  margin: 0 auto;
}

#btn-prev-week, #btn-next-week, #btn-prev-day, #btn-next-day {
  border: none;
  padding: .25rem .5rem;
}

#btn-prev-week:hover, #btn-next-week:hover {
  background-color: #89CFF0;
}

table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 0 auto;
}

table {
  border: 0;
}

/* Table: Dates and Times */
#table-desktop thead th, #table-desktop  tbody tr td {
  display: none;
}

#table-desktop thead th:first-child, #table-desktop thead th:nth-child(2), #table-desktop  tbody tr td:first-child, #table-desktop  tbody tr td:nth-child(2) {
  display: table-cell;
}

tr > td:first-child, th:first-child {
  width: 10%;
  font-weight: 700;
  border-right: 1px solid black;
}

tr > td:not(:first-child) {
  width: calc(90% / 7);
}

.cell-time-slot > div {
  border: 0;
}

th {
  padding: .5rem 1rem;
  border-bottom: 1px solid black;
  border-spacing: 0 4px;
  background-color: #89CFF0;
}

th h3, th h2 {
  font-weight: 700;
}

th h3 {
  margin-bottom: .5rem;
}

tr {
  border-bottom: 1px solid black;
}

td {
  vertical-align: middle;
  text-align: center;
  width: calc(100% / 8);
}

.cell-time-slot {
  position: relative;
  padding: 0;
  height: 100px;
}

.cell-half-hour.disabled {
  background-color: rgb(211, 211, 211) !important;
  pointer-events: none;
}

.cell-time-slot > div {
  height: 25%;
  cursor: pointer;
  /*
  border-bottom: 1px solid grey;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  */
}

/*
.cell-time-slot > div:last-child {
  border-bottom: 1px solid black;
}
*/

.span-time-block, .temp-timeblock {
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background-color: #89CFF0;
  z-index: 10;
  padding: .25rem;
  text-align: center;
}

.span-time-block > span {
  margin: 0 0 0 auto;
  font-weight: 700;
}

.temp-timeblock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.span-time-block, .temp-timeblock {
  pointer-events: none;
}

.span-time-block > button {
  pointer-events: auto;
}

.h-15 {
  height: 25%;
}

.h-30 {
  height: 50%;
}

.h-45 {
  height: 75%;
}

.h-60 {
  height: 100%;
}

.h-120 {
  height: 200%;
}

.p-0 {
  top: 0;
}

.p-15 {
  top: 25%;
}

.p-30 {
  top: 50%;
}

.p-45 {
  top: 75%;
}

.btn-close {
  /* padding: .25rem .5rem; */
  padding: 0;
  border: 0;
  margin: 0 0 0 auto;
}

/* Table: Calendar */
.monthlyCalendar-day {
  width: calc(100% / 7);
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}

.monthlyCalendar-day:hover {
  background-color: #5CBDEA;
}

.monthlyCalendar-day.selected:hover {
  background-color: #FFFFFF !important;
}

.monthlyCalendar-day.disabled {
  pointer-events: none;
}

.monthlyCalendar-day.selected, #btn-toggle-times.selected, #btn-toggle-days.selected, #btn-toggle-times.selected:hover, #btn-toggle-days.selected:hover {
  background-color: #89CFF0;
}

#btn-toggle-times, #btn-toggle-days, #btn-prev-month, #btn-next-month {
  border: none;
}

@media (min-width: 568px) {
  #btn-prev-week, #btn-next-week, #btn-prev-day, #btn-next-day {
    padding: .5rem 1rem;
  }
}

@media (min-width: 768px) {
  #week-current {
    display: inline-block;
  }

  #table-desktop thead th, #table-desktop  tbody tr td {
    display: table-cell;
  }
}

@media (min-width: 922px) {
  #table-btns {
    margin: 0 0 0 auto;
  }
}